.example-spacer {
    flex: 1 1 auto;
  }

.toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.toolbar button {
  background-color: white;
  color: #7b1fa2;
}